.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 10px;
    border-bottom: 1px solid #ddd;
    border-radius: 6px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
}
button {
  padding: 4x 8px;/* Tăng khoảng trống bên trong nút**/
  border: none; /* bỏ viền**/
  border-radius: 10px;/* bo góc**/
  cursor: pointer; /* Khi rê chuột vào nút → con trỏ đổi thành bàn tay**/

}
.completed {
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}
.btn-complete {
  background-color: #4caf50;
  color: white;
  margin-right: 5px;
}

.btn-complete:hover {
  background-color: #45a049;
}
.btn-remove {
  background-color: #f44336;
  color: white;
}

.btn-remove:hover {
  background-color: #da190b;
}