.task-item { 
    display: flex;
    align-items: center; /*Canh giữa theo chiều dọc*/
    padding: 6px 10px;
    border-bottom: 1px solid #ddd;  /*Tạo đường kẻ mỏng giữa các dòng*/
    border-radius: 6px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    gap: 10px;  /*Khoảng cách giữa các cột*/
}
.task-title{
  flex: 2; 
}
.task-staff {
  flex: 2;
  text-align: center;
}

.task-priority {
  flex: 1;
  text-align: center;
  text-transform: capitalize;  /*capitalize → high → High*/
}
.task-deadline{
  flex: 2;
  text-align: center;
}
.task-priority.high {
  color: red;
}

.task-priority.medium {
  color: orange;
}

.task-priority.low {
  color: green;
}
button {
  padding: 4x 8px;/* Tăng khoảng trống bên trong nút**/
  border: none; /* bỏ viền**/
  border-radius: 10px;/* bo góc**/
  cursor: pointer; /* Khi rê chuột vào nút → con trỏ đổi thành bàn tay**/

}
.completed {
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}
.btn-complete {
  background-color: #4caf50;
  color: white;
  margin-right: 5px;
}

.btn-complete:hover {
  background-color: #45a049;
}
.btn-remove {
  background-color: #f44336;
  color: white;
}

.btn-remove:hover {
  background-color: #da190b;
}